DirectoryIndex index.php

RewriteEngine On

# Resolve .php file for extensionless PHP URLs
RewriteRule ^([^/.]+)$ $1.php [L]

# enable again after 16.06.2023
#<filesMatch ".(css|jpg|jpeg|png|gif|webp|js|ico)$">
#Header set Cache-Control "max-age=2419200, public"
#</filesMatch>