:root{
	--pico-8-black:         #000000;
	--pico-8-blue:          #1d2b53;
	--pico-8-purple:        #7e2553;
	--pico-8-green:         #008751;
	--pico-8-brown:         #ab5236;
	--pico-8-dark-grey:     #5f574f;
	--pico-8-light-grey:    #c2c3c7;
	--pico-8-white:         #fff1e8;
	--pico-8-red:           #ff004d;
	--pico-8-orange:        #ffa300;
	--pico-8-yellow:        #ffec27;
	--pico-8-lime:          #00e436;
	--pico-8-cyan:          #29adff;
	--pico-8-washed-grey:   #83769c;
	--pico-8-pink:          #ff77a8;
	--pico-8-flesh:         #ffccaa;
}