/* GLOBAL */
button:hover,
a.button:hover{
	background-color: var(--pico-8-pink);
}

a.button_inactive:hover{
	background-color: var(--pico-8-light-grey);
	color: var(--pico-8-black);
	cursor: default;
}

/* SELECTOR */
.selector_menu:hover{
	background: url(../assets/icon_8bit/menu_active.png);
	background-size: 45px;
}

/* DROPDOWN */
.dropdown a:hover{
	color: var(--pico-8-white);
	background-color: var(--pico-8-pink);
}

/* ARTICLES */
table.articles_entry:hover h3{
	text-decoration: underline;
}

/* FOOT LINKS */
div.foot_links > p:hover{
	cursor: default;
}

div.foot_links > p > a:hover{
	color: var(--pico-8-white);
	cursor: pointer;
}