/* GLOBAL */
button:hover,
a.button:hover{
	background-color: var(--pico-8-pink);
}

a.button_inactive:hover{
	background-color: var(--pico-8-light-grey);
	color: var(--pico-8-black);
	cursor: default;
}

/* CONTENT */
div.content{
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
}

/* DROPDOWN */
.dropdown a:hover{
	color: var(--pico-8-white);
	background-color: var(--pico-8-pink);
}

/* ARTICLES SELECTION */
div.articles_thumbnail_wrapper{
	background-color: var(--pico-8-black);
	width: 227px;
	height: 128px;
	margin-right: 10px;
}

table.articles_entry:hover h3{
	text-decoration: underline;
}

/* CONTACT */
#contact-form input, textarea{
	width: 500px;
}

/* FOOT LINKS */
div.foot_links > p:hover{
	cursor: default;
}

div.foot_links > p > a:hover{
	color: var(--pico-8-white);
	cursor: pointer;
}