/* CONTENT */
div.content{
	padding-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
}

/* ARTICLES SELECTION */
div.articles_thumbnail_wrapper_outside{
	background-color: var(--pico-8-dark-grey);
	width: 100%;
	padding-bottom: 56.25%;
	position: relative;
}

div.articles_thumbnail_wrapper_inside{
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}

/* CONTACT */
#contact-form input, textarea{
	width: 98%;
}